@page "/portfolio"


@inject IStockPortfolioService StockPortfolioService

@attribute [Authorize]

<div class="container">
    <div class="row">
        <div class="col-8">
            <_StockPortfolioChart PortfolioCompanyList="@_portfolioListCompany" Title="@_title" XName="@_xName"></_StockPortfolioChart>
        </div>
        <div class="col-4">
            @if (_showTotal)
            {
                <_InvestmentTotal PortfolioViewModels="@_totalInvestment"></_InvestmentTotal>
            }

        </div>
    </div>
</div>
<div class="container">
    <_StockPortfolioTotal PortfolioList="@_portfolioListCompany" SwitchView="@_switchView"></_StockPortfolioTotal>
    <br />
    <button type="button" class="btn btn-outline-secondary" @onclick="@(async () => await SwitchView())">Switch View</button>
</div>


@code {

    private IEnumerable<StockPortfolioViewModel> _portfolioListCompany = new List<StockPortfolioViewModel>();

    private IEnumerable<StockPortfolioViewModel> _totalInvestment = new List<StockPortfolioViewModel>();

    private bool _showTotal = false;
    private bool _switchView = false;
    private string _xName = "Symbol";
    private string _title = "Company Diversity";


    protected override async Task OnInitializedAsync()
    {
        _portfolioListCompany = await StockPortfolioService.StockPortfolioGroupByCompany();
        _totalInvestment = await StockPortfolioService.StockPortfolioGroupByCompany();
    }

    private async Task SwitchView()
    {
        if (!_switchView)
        {
            _portfolioListCompany = await StockPortfolioService.StockPortfolioGroupBySector();
            _xName = "Sector";
            _title = "Sector Diversity";
            _switchView = true;
        }
        else
        {
            _portfolioListCompany = await StockPortfolioService.StockPortfolioGroupByCompany();
            _xName = "Symbol";
            _title = "Company Diversity";
            _switchView = false;
        }
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _showTotal = true;
    }


}
