
@inject ICompanyNewsService Client

@if (_results != null)
{
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Published</th>
                <th>Link</th>
            </tr>
        </thead>
        @foreach (var company in _results.Articles)
        {
            <tbody>
                <tr>

                    <td>@company.Title</td>
                    <td>@company.Author</td>
                    <td>@company.Description</td>
                    <td>@company.PublishedAt</td>
                    <td><a href="@company.Url">Link</a></td>

                </tr>
            </tbody>
        }
    </table>
}

@code {

    [Parameter]
    public string SearchString { get; set; }

    private NewsSearchResult _results;

    /**
     * Get the list of company using the keyword
     */
    protected override async Task OnInitializedAsync()
    {
        _results = await Client.GetCompanyNewsAsync(SearchString);
    }

}
