@page "/transactions"

@inject IStockPortfolioService StockPortfolioService

@attribute [Authorize]

<h3>Transaction History</h3>



<label for="stockTable">Stocks Purchased</label>
<table class="table table-striped" id="stockTable">
    <thead class="thead-dark">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Dividend Yield</th>
            <th>Sector</th>
            <th>Purchase Date</th>
            <th>Purchase Price</th>

        </tr>
    </thead>

    @foreach (var stocks in _ownedStocks)
    {
        <tbody>
            <tr>

                <td>@stocks.Symbol</td>
                <td>@stocks.CompanyName</td>
                <td>@stocks.DividendYield</td>
                <td>@stocks.Sector</td>
                <td>@stocks.PurchaseDate.ToString("MM/dd/yyyy")</td>
                <td>@stocks.PurchasePrice</td>
            </tr>
        </tbody>
    }

</table>



@code {

    private List<StockTransactionViewModel> _ownedStocks = new List<StockTransactionViewModel>();

    protected override async Task OnInitializedAsync()
    {
        _ownedStocks = await StockPortfolioService.GetCurrentUserStockTransaction();
        StateHasChanged();
    }

}
